/***** PREREQUISITES *****/

li {
  list-style: none;
}

p {
  font-size: 1em;
  font-weight: 500;
}

/***** NAVIGATION *****/

.navbar {
  display: flex;
  width: 90%;
  margin: auto;
  justify-content: space-between;
  align-items: center;
}

.navlists {
  display: flex;
  gap: 2em;
  align-items: center;
}

.link {
  border: none;
  text-decoration: none;
  background-color: transparent;
  font-weight: 700;
  font-size: 0.9em;
  color: rgba(0, 0, 0, 0.562);
}

.header {
  text-decoration: none;
  font-weight: 500;
  font-size: 2em;
}

/***** BOOKS *****/

.books {
  width: 90%;
  margin: auto;
}

.book-container {
  display: flex;
  border-radius: 10px;
  box-shadow: -1px 1px 9px -3px rgba(0, 0, 0, 0.81);
  margin-bottom: 2em;
  padding: 1em;
}

.book-container p {
  margin-block-end: 0%;
  margin-block-start: 0%;
}

.card-col1 {
  width: 60%;
}

.card-col2 {
  width: 20%;
}

.card-col3 {
  width: 20%;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.features {
  display: flex;
  gap: 1em;
  padding-inline-start: 0%;
}

.update {
  background-color: blue;
  border: none;
  border-radius: 10px;
  color: white;
  font-weight: 500;
  padding: 0.5em;
  width: 60%;
}

.remove {
  border-right: solid 1px rgba(0, 0, 0, 0.267);
  border-left: solid 1px rgba(0, 0, 0, 0.267);
  padding: 0 2em;
}

/***** ADD BOOK *****/
.add-book {
  margin-bottom: 2em;
}

form {
  display: flex;
  gap: 1em;
}

form button {
  background-color: blue;
  color: white;
  padding: 0.5em;
}
