/***** PREREQUISITES *****/

li {
  list-style: none;
}

p {
  font-size: 1em;
  font-weight: 500;
}

h1,
h2 {
  color: rgba(0, 0, 0, 0.795);
}

/***** NAVIGATION *****/

.navbar {
  display: flex;
  width: 90%;
  margin: auto;
  justify-content: space-between;
  align-items: center;
}

.navlists {
  display: flex;
  gap: 2em;
  align-items: center;
}

.link {
  border: none;
  text-decoration: none;
  background-color: transparent;
  font-weight: 700;
  font-size: 0.9em;
  color: rgba(0, 0, 0, 0.562);
}

.header {
  text-decoration: none;
  font-weight: 500;
  font-size: 2em;
}

/***** BOOKS *****/

.books {
  width: 90%;
  margin: auto;
}

.book-container {
  display: flex;
  align-items: center;
  border-radius: 10px;
  box-shadow: -1px 1px 9px -3px rgba(0, 0, 0, 0.81);
  margin-bottom: 2em;
  padding: 1em;
}

.book-container p {
  margin-block-end: 0%;
  margin-block-start: 0%;
}

.card-col1 {
  width: 60%;
}

.category,
.author {
  color: #0290ff;
}

.card-col2 {
  width: 20%;
  display: flex;
  align-items: center;
  gap: 1em;
}

.card-col3 {
  width: 20%;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.features {
  display: flex;
  gap: 1em;
  padding-inline-start: 0%;
}

.update {
  background-color: #0290ff;
  border: none;
  border-radius: 10px;
  color: white;
  font-weight: 500;
  padding: 0.5em;
  width: 60%;
}

.remove {
  border-right: solid 1px rgba(0, 0, 0, 0.267);
  border-left: solid 1px rgba(0, 0, 0, 0.267);
  padding: 0 2em;
}

/***** PROGRESS BAR STYLING *****/

.circle-wrap {
  width: 120px;
  height: 120px;
  background: #fefcff;
  border-radius: 50%;
  border: 1px solid #cdcbd0;
}

.mask.full,
.circle .fill {
  animation: fill ease-in-out 3s;
  transform: rotate(135deg);
}

.mask .fill {
  clip: rect(0, 60px, 120px, 0);
  background-color: #227ded;
}

.circle-wrap .circle .mask,
.circle-wrap .circle .fill {
  width: 120px;
  height: 120px;
  position: absolute;
  border-radius: 50%;
}

.circle-wrap .circle .mask {
  clip: rect(0, 120px, 120px, 60px);
}

@keyframes fill {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(135deg);
  }
}

.circle-wrap .inside-circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: #d2eaf1;
  line-height: 100px;
  text-align: center;
  margin-top: 10px;
  margin-left: 10px;
  color: #0290ff;
  position: absolute;
  z-index: 100;
  font-weight: 700;
  font-size: 2em;
}

/***** ADD BOOK *****/
.add-book {
  margin-bottom: 2em;
}

form {
  display: flex;
  gap: 1em;
}

.author-input {
  width: 20em;
  border: 1px solid rgba(0, 0, 0, 0.37);
  padding: 0.5em;
  font-size: 1em;
  border-radius: 10px;
}

.title-input {
  width: 40em;
  border: 1px solid rgba(0, 0, 0, 0.37);
  padding: 0.5em;
  font-size: 1em;
  border-radius: 10px;
}

form button {
  background-color: #0290ff;
  color: white;
  padding: 1em;
  border: none;
  border-radius: 10px;
  font-size: 1em;
}
